<!DOCTYPE html>
<html>

<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<title>POLS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
	<div id="app">
		<v-app dark>
			<v-content>
				<v-container grid-list-md text-xs-center>
					<v-layout row wrap>
						<v-flex xs6>
							<form>
								<v-spacer></v-spacer>
								<v-text-field v-validate="'required|email'" v-model="Email" :error-messages="errors.collect('Email')" label="E-mail" data-vv-name="Email" required></v-text-field>
								<v-text-field v-validate="'required'" v-model="Password" :error-messages="errors.collect('Password')" type="password" label="Password" data-vv-name="Password" required></v-text-field>
								<v-btn @click="Login">Login</v-btn>
								<v-btn @click="clearLogin">clear</v-btn>
							</form>
						</v-flex>
						<v-spacer xs2></v-spacer>
						<v-flex xs6>
							<form>
								<v-text-field v-validate="'required|max:120'" v-model="name" :counter="120" :error-messages="errors.collect('name')" label="Name" data-vv-name="name" required></v-text-field>
								<v-text-field v-validate="'required|email'" v-model="regEmail" :error-messages="errors.collect('regEmail')" label="E-mail" data-vv-name="regEmail" required></v-text-field>
								<v-text-field v-validate="'required|min:8'" v-model="regPassword" :error-messages="errors.collect('regPassword')" type="password" label="Password" data-vv-name="regPassword" data-vv-validate-on required></v-text-field>
								<v-text-field v-validate="'required|confirmed:password|min:8'" v-model="regPasswordVerify" :error-messages="errors.collect('regPasswordVerify')" type="password" label="Verify Password" data-vv-name="regPasswordVerify" required></v-text-field>
								<v-checkbox v-validate="'required'" v-model="checkbox" :error-messages="errors.collect('checkbox')" value="1" label="Option" data-vv-name="checkbox" type="checkbox" required></v-checkbox>
								<v-btn @click="register">register</v-btn>
								<v-btn @click="clearReg">clear</v-btn>
							</form>
						</v-flex>
					</v-layout>
				</v-container>
			</v-content>
		</v-app>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
	<script>
	Vue.use(VeeValidate)

	new Vue({
		el: '#app',
		$_veeValidate: {
			validator: 'new'
		},

		data: () => ({
			Email: '',
			Password: '',
			name: '',
			regEmail: '',
			regPassword: '',
			regPasswordVerify: '',
			select: null,
			checkbox: null,
			dictionary: {
				attributes: {
					regEmail: 'E-mail Address'

					// custom attributes
				},
				custom: {
					name: {
						required: () => 'Name can not be empty',
						max: 'The name field may not be greater than 120 characters'
						// custom messages
					},
					regPassword: {
						required: () => 'Password can not be empty',
						min: 'Password needs to be at least 8 characters long '
					},
					regPasswordVerify: {
						required: () => 'pass can not be empty',
						min: 'Password needs to be at least 8 characters long! ',
						confirmed: "Passwords do not match!"
					}

				}
			}
		}),

		mounted() {
			this.$validator.localize('en', this.dictionary)
		},

		methods: {
			register() {
				this.name.validate()
				this.regEmail.validate()
				this.regPassword.validate()
				this.regPasswordVerify.validate()
				this.checkbox.validate()
			},
			Login() {
				this.email.validate()
				this.password.validate()

			},
			clearLogin() {
				this.email = ''
				this.password = ''
				this.$validator.reset()
			},
			clearReg() {
				this.name = ''
				this.regEmail = ''
				this.regPassword = ''
				this.regPasswordVerify = ''
				this.checkbox = null
				this.$validator.reset()
			}
		}
	})
	</script>
</body>

</html>